on early-init
    start adbd

on init
    export LD_LIBRARY_PATH /system/lib64:/vendor/lib64:/vendor/lib64/hw:/system/lib64/hw

service boot-hal-1-2 /system/bin/android.hardware.boot@1.2-service
    interface android.hardware.boot@1.0::IBootControl default
    interface android.hardware.boot@1.1::IBootControl default
    interface android.hardware.boot@1.2::IBootControl default
    user root
    group root
    seclabel u:r:recovery:s0

on boot
    start boot-hal-1-2
    start health-hal-2-1
